<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time App</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<main>
    <h1>Time App</h1>
    <form id="timeForm" th:attr="data-time-url=${timeUrl}">
        <input type="number" id="tzInput" placeholder="Enter offset (e.g. 3 or -2)">
        <br>
        <button type="submit">Get Time</button>
    </form>
    <a th:href="@{/time}">Open Time</a>
</main>

<script th:src="@{/js/index.js}"></script>
</body>
</html>
